.Rproj.user
.Rprofile
.Rbuildignore
.Rhistory
.RData
.Ruserdata
.DS_Store
renv/
renv.lock
Rplots.pdf

#Ignore everything in the bookdown/ folder
bookdown/*

#except the following files
#This prevents files created during the building of the book from being included in the repo
!bookdown/*.Rmd
!bookdown/_bookdown.yml
!bookdown/_output.yml
!bookdown/_render.yml
!bookdown/images/
