/* Styling specific to blockquotes used for terminal output */
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
	background-color: #EDF8FE;
	color: #022193;
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
	font-size: 14px;
}

blockquote {
	margin: 0 0 .85em;
    padding: 0 0px;
    opacity: 0.75;
    border-left: 4px solid #dcdcdc
}